<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Critic Crawler</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <style>
      .green__fill {
        transform: rotate({{style_values[0]}}turn);
      }

      .yellow__fill{
        transform: rotate({{style_values[1]}}turn);
      }

      .red__fill{  
        transform: rotate({{style_values[2]}}turn);
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <!-- Navigation Bar -->
    <ul>
        <li><a class="active" href="/">
            <img src= "{{url_for('static', filename='logo.png')}}">
        </a></li>
        <li id="developer"><img src="{{url_for('static', filename='developer.png')}}", width="130px"></li>
    </ul>

    <!-- Animated Part -->
    <section id="animation">
        <div class="row">
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <i class="fa fa-book" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-anchor" aria-hidden="true"></i>
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                <i class="fa fa-bath" aria-hidden="true"></i>
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                <i class="fa fa-flask" aria-hidden="true"></i>
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i class="fa fa-futbol-o" aria-hidden="true"></i>
                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                <i class="fa fa-paypal" aria-hidden="true"></i>
                <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
        </div>

    </section>

    <!-- Product Entering section -->
    <div id="prod_input_box">
        <div>
            <span id="hdr">Enter Product Name</span>
            <p>Get Reviews  in Seconds. Enter product name who’s reviews you want , 
                it provides reviews in structure format . you can download  reviews in csv file.</p>

            <div>
                <form action="/reviews" method="POST" id="input_form">
                    <div id="prod_input">
                        <input type="text" name="prod_input" required="required">
                        <span>Ex:- iPhone 14</span>
                    </div>
    
                    <input onclick="run_loader()" type="submit" id="crawl_btn" value="Crawl The Site">
                </form>
            </div>
        </div>
    </div>

    <div id="separator"></div>

    <section id="Presenter">
        <div id="container">

            <div id="col1">
                <div id="product">
                    <div id="prod_img"><img src="{{prd_img}}"></div>
                    <div id="prod_name"><p>{{prd_nam}}</p></div>
                </div>
            </div>

            <div id="col2">
                <div id="meter">
                  <div class="gauge">
                      <div class="gauge__body">
                          <div class="green__fill"></div>
                          <div class="yellow__fill"></div>
                          <div class="red__fill"></div>
                          <div class="gauge__cover">
                            <div id="post">
                                <span id="g"></span>
                                <p>Positive</p>
                            </div>
                            <div id="nutrl">
                                <span id="y"></span>
                                <p>Neutral</p>
                            </div>
                            <div id="negt">
                                <span id="r"></span>
                                <p>Negative</p>
                            </div>
                          </div>
                      </div>
                  </div>
                  <p>Sentiment of Reviews</p>
                </div>

                <div id="table-section">
                    {% if dataset.size == 0 %}
                    <div class="alert alert-dark" role="alert">
                        No Todos found. Add your first todo now!
                      </div>
                        {% else %} 
                        <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">SNo</th>
                                <th scope="col">Reviews</th>
                              </tr>
                            </thead>
                            
                            <tbody>
                            {% for n in dataset.index[:13] %}
                            <tr>
                              <th scope="row">{{loop.index}}</th>
                              <td>
                                {% if dataset['Reviews'][n]|length >= 50 %}

                                  {{dataset['Reviews'][n][:50]}}
                                  
                                {% else %}
                                {{dataset['Reviews'][n]}}
                                {% endif %}
                              </td>
                            </tr>
                            
                            {% endfor %}
                          </tbody>
                          </table>
                    {% endif %}
                </div>

                

                <div id="dataframe">
                    {{ df | safe }}
                </div>
            
                
                <button onclick="downloadCSV()" id="dwnl-btn" >
                  <p>Download</p>
                  <img src="static/downl_icon.png" width="25px" height="25px">
                </button>
    

            </div>
        </div>
    </section>

    <!-- Footer section -->
    <footer>
        <img src="{{url_for('static', filename='siderman.png')}}" width="320PX" height="320PX">
        <div>
            <p>This project is for educational purposes only. The data used in this project has been obtained solely 
                for the purpose of academic research and study. We do not intend to use this data for any commercial or
                 illegal purposes. All content displayed on this website belongs to Flipkart and is used under fair use
                  principles. We do not claim ownership of any of the content displayed on this website.</p>
        </div>
    </footer>


    <script>

        function downloadCSV() {
            var table = document.createElement('table');
            var rows = document.getElementById('dataframe').getElementsByTagName('tr');

            for (var i = 0; i < rows.length; i++) {
                var row = table.insertRow(i);
                var cells = rows[i].getElementsByTagName('td');

                for (var j = 0; j < cells.length; j++) {
                    var cell = row.insertCell(j);
                    cell.textContent = cells[j].innerText;
                }
            }

            var csvContent = "data:text/csv;charset=utf-8," + tableToCSV(table);

            var encodedUri = encodeURI(csvContent);
            var link = document.createElement("a");
            link.setAttribute("href", encodedUri);
            link.setAttribute("download", "dataframe.csv");
            document.body.appendChild(link);
            link.click();
        }

        function tableToCSV(table) {
            var csv = [];
            var rows = table.querySelectorAll('tr');

            for (var i = 0; i < rows.length; i++) {
                var cells = rows[i].querySelectorAll('td, th');
                var row = [];

                for (var j = 0; j < cells.length; j++) {
                    row.push('"' + cells[j].innerText + '"');
                }

                csv.push(row.join(','));
            }

            return csv.join('\n');
        }
    </script>
</body>
</html>